<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GuckGuck_Web</title>
    <script type="importmap"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/bulma.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GuckGuck_Web.styles.css" asp-append-version="true" />
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-head">
            <header class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <img class="img-logo" src="~/logo.png" alt="Logo" />
                        </a>
                    </div>
                    <div id="navbarMenuHeroC" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button color-btn btn-green" href="https://github.com/guckguckhq">
                                    <span class="icon">
                                        <i class="ri-github-line"></i>
                                    </span>
                                    <span>Code</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        @RenderBody()
        <div class="hero-foot">
            <footer class="footer">
                <div class="content has-text-centered">
                    <p>
                        GuckGuck by <strong>Joachim Leonfellner</strong> (<a href="https://github.com/nor0x">nor0x</a>) made in Vienna, Austria 🇪🇺  with support from <a href="https://h3y.studio">H3Y</a>.
                        &copy; <span id="currentYear"></span>
                    </p>
                </div>
            </footer>
        </div>
    </section>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.getElementById('currentYear').textContent = new Date().getFullYear();
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
