@page
@model DownloadModel
@{
    ViewData["Title"] = "Download GuckGuck";
}

<div class="hero-body">
    <div class="container has-text-centered">
        <p class="title">
            Download GuckGuck
        </p>
        <p class="subtitle">Choose your platform and start using GuckGuck today!</p>

        <div class="buttons is-centered">
            <a class="button download-button color-btn btn-blue"
                href="https://github.com/GuckGuckHQ/GuckGuck_Windows/releases" target="_blank">
                <span class="icon">
                    <i class="ri-windows-line"></i>
                </span>
                <span>Download for Windows</span>
            </a>
            <a class="button download-button color-btn btn-yellow"
                href="https://github.com/GuckGuckHQ/GuckGuck_macOS/releases" target="_blank">
                <span class="icon">
                    <i class="ri-apple-line"></i>
                </span>
                <span>Download for macOS</span>
            </a>
        </div>
    </div>
</div>