@page "/Error404"
@model Error404Model
@{
    ViewData["Title"] = "Image Not Found";
}

<div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title">404 - Image Not Found</h1>
        <p class="subtitle">The image you are looking for does not exist or is unavailable.</p>
        <div class="button-container">
            <a class="button color-btn btn-blue" href="/">
                <span class="icon">
                    <i class="ri-home-line"></i>
                </span>
                <span>Go to Homepage</span>
            </a>
        </div>
    </div>
</div>