@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Hero content: will be in the middle -->
<div class="hero-body">
    <div class="container has-text-centered">
        <p class="title">Title</p>
        <p class="subtitle">Subtitle</p>
    </div>
</div>